# Игнорируем все тесты
**/__tests__/**
**/*.test.js
**/*.test.jsx
**/*.test.ts
**/*.test.tsx
**/*.spec.js
**/*.spec.jsx
**/*.spec.ts
**/*.spec.tsx

# Игнорируем конфигурационные файлы
.eslintrc.js
.lintstagedrc.js
babel.config.js
jest.config.js
jest.setup.js
setupTests.js

# Игнорируем моки
**/mocks/**
**/__mocks__/**

# Игнорируем node_modules
node_modules/
